@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .outfit {
    font-family: "outfit";
    font-weight: 200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply outfit;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    @apply font-black text-4xl md:text-7xl text-center;
  }
  h2 {
    @apply font-black text-3xl md:text-5xl;
  }
  h3 {
    @apply text-2xl md:text-xl mt-0;
  }
  h4 {
    @apply font-black uppercase text-xl md:text-3xl;
  }
  h5 {
    @apply text-lg md:text-xl;
  }
  h6 {
    @apply font-extrabold text-lg md:text-xl;
  }
  p,
  li {
    @apply outfit;
  }
}

@layer components {
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
