<div class="relative">
<svg class="absolute w-[100px] -top-20 right-0 md:w-[120px] md:-top-[435px] lg:w-[229px]" id="Arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 175.52 571.83">
  <defs>
    <style>
      .arrow_fill {
        fill: #fff;
      }
    </style>
  </defs>
  <path class="arrow_fill" d="M172.36,0c-.45,13.36-1.9,33.84-6.84,59.05-20.43,104.29-68.54,125.69-87.03,197.48-24.43,94.82,20.04,210.61-3.17,248.53-9.43,15.4-22.3,22.99-22.3,22.99-15.33,9.04-38.51,13.71-38.51,13.71,0,0,2.69-13.35,7.8-38.72-7.43,15.42-14.86,30.83-22.31,46.26,14.3,7.51,28.61,15.02,42.91,22.53-15.53-15.26-25.51-25.06-25.52-25.07,0,0,33.01-10.57,51.46-26.61,24.16-21,23.55-51.53,23.15-70.98-.19-9.23-1.44-15.81-2-18.77-10.74-57.31-19.12-102.04-10.62-150.59,1.28-7.29,5.51-29.41,17.58-58.01,17.79-42.16,36.65-60.69,53.01-90.37,13.5-24.46,27.5-60.54,25.33-107.9-.98-7.84-1.96-15.69-2.93-23.54Z"/>
</svg>
</div>