---
const {text} = Astro.props;
---

<div data-aos="fade-up"
		data-aos-delay="300"
		 class=" border-t col-span-2 overflow-hidden">
			 <div class="overflow-hidden whitespace-nowrap border-b py-2 md:py-4"> 
				<div class="inline-block animate-scroll min-w-full">
					<span class=" text-2xl md:text-2xl text-center m-0 flex flex-row gap-20">
						<span><h6>HTML</h6></span>
						<span><h6>CSS</h6></span>
						<span><h6>JS</h6></span>
						<span><h6>ALPHINE</h6></span>
						<span><h6>TAILWIND</h6></span> 
						<span><h6>ASTRO</h6></span> 
						<span><h6>GIT & GITHUB</h6></span> 
						<span><h6>HTML</h6></span>
						<span><h6>CSS</h6></span>
						<span><h6>JS</h6></span>
						<span><h6>ALPHINE</h6></span>
						<span><h6>TAILWIND</h6></span> 
						<span><h6>ASTRO</h6></span> 
						<span><h6>GIT & GITHUB</h6></span> 
						<span><h6>HTML</h6></span>
						<span><h6>CSS</h6></span>
						<span><h6>JS</h6></span>
						<span><h6>ALPHINE</h6></span>
						<span><h6>TAILWIND</h6></span> 
						<span><h6>ASTRO</h6></span> 
						<span><h6>GIT & GITHUB</h6></span> 
					</span> 
				</div> 
			</div> 
		</div>




<style>
@keyframes scroll {
    0% {
      transform: translate(0);
    }

    to {
      transform: translate(-35%);
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
    animation-fill-mode: forwards;
  }
</style>